<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Pollify</title>
  <link rel="stylesheet" href="/styles/new-poll.css" />
</head>

<body>
  <nav>
    <span id="title">Decision Maker</span>
    <div class="subtext">
      <span>Create a New Poll</span>
    </div>
  </nav>

  <main class="container">
    <section class="new-poll">
      <div class="email-box">
        <p class="email-text">To get started, please enter your email</p>
        <form method="POST" action="/polls/email" id="email-submit">
          <input id="email-input" name="email" type="email" required></input>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <button form="email-submit" class="button" type="submit" id="email-submit">GET STARTED</button>
  </footer>

</body>

</html>
