<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Pollify - Poll Created!</title>
  <link rel="stylesheet" href="/styles/link.css" />
</head>

<body>
  <nav>
    <%- include('partials/_nav') %>
  </nav>

  <main class="container">
    <section class="message">
      <h3>Your poll has been created!</h3>
    </section>
    <section class="link">
      <p>Here's a link to vote and then see the results:</p>
      <a href="http://localhost:8080/polls/<%= poll[0].id %>">Poll <%= poll[0].id %></a>
    </section>
  </main>

  <footer>
    <a class="switch" id="start-again" href="http://localhost:8080/polls">CREATE NEW POLL</a>
  </footer>

</body>

</html>
