<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Pollify - Poll Created!</title>
  <link rel="stylesheet" href="/styles/link.css" />
</head>

<body>
  <nav>
    <%- include('partials/_nav') %>
  </nav>

  <main class="container">
    <section class="message">
      <h3>Your poll has been created!</h3>
    </section>
    <section class="link">
      <p>These links will be sent to you via email:</p>
      <div class="link-icons">
      <a class="link-poll" href="http://localhost:8080/polls/<%= poll[0].id %>">View Poll %></a>
      <button class="button"><i class="fa-regular fa-clipboard"></i></button>
      </div>
    </section>
  </main>

  <footer>
    <a class="switch" id="start-again" href="http://localhost:8080/polls">CREATE NEW POLL</a>
  </footer>

</body>

</html>
