<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Pollify - Create A Poll</title>
  <link rel="stylesheet" href="/styles/new-poll.css" />
</head>

<body>
  <nav>
    <%- include('partials/_nav') %>
  </nav>

  <main class="container">
    <section class="new-poll">
      <div class="poll-question">
        <form method="POST" action="/polls" id="poll-input">
          <p class="question-text">What is your question?</p>
          <textarea name="title" id="question-input" required></textarea>
          <div class="description">
            <button type="button" id="show-description">Add a description (optional)</button>
            <textarea name="description" id="poll-description" hidden></textarea>
          </div>
          <p>What are your options?</p>
          <div class="choice-box">
            <div>
              <label for="choice-input-1">1.</label>
              <input name="choice_1" id="choice-input-1" required></input>
            </div>
            <br />
            <div>
              <label for="choice-input-2">2.</label>
              <input name="choice_2" id="choice-input-2" required></input>
            </div>
            <br />
            <div>
              <label for="choice-input-3">3.</label>
              <input name="choice_3" id="choice-input-3" required></input>
            </div>
            <div class="name_box">
              <input type="checkbox" id="require_name" name="require_name" checked>
              <label for="require_name">Require Name</label>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <button form="poll-input" class="button switch" type="submit" id="poll-submit">SUBMIT</button>
  </footer>

</body>

</html>
