<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker - Create A Poll</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/new-poll.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <nav>
    <span id="title">Decision Maker</span>
    <div class="subtext">
      <span>Create a New Poll</span>
    </div>
  </nav>

  <main class="container">
    <section class="new-poll">
      <div class="poll-question">
        <form method="POST" action="/polls" id="poll-input">
          <p class="question-text">What is your question?</p>
          <textarea placeholder="Enter question here..." name="question" id="question-input"></textarea>
          <div class="description">
            <button type="button" id="show-description">Add a description</button>
            <textarea placeholder="(Optional)" name="description" id="poll-description" hidden></textarea>
          </div>
          <p>What are your options?</p>
          <div class="choice-box">
            <div>
              <label for="choice-input-1">1.</label>
              <input placeholder="Enter text here..." name="choice1" id="choice-input-1"></input>
            </div>
            <br />
            <div>
              <label for="choice-input-2">2.</label>
              <input placeholder="Enter text here..." name="choice2" id="choice-input-2"></input>
            </div>
            <br />
            <div>
              <label for="choice-input-3">3.</label>
              <input placeholder="Enter text here..." name="choice3" id="choice-input-3"></input>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <button form="poll-input" class="button" type="submit" id="poll-submit">SUBMIT</button>
  </footer>

</body>

</html>
