$font-color: #FFFFFF;
$secondary-color: #24243E;

footer {
  height: 100px;
  background-color: #FFFFFF;
  font-family: "Righteous", sans-serif;
  font-size: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #24243E;
  font-size: 40px;
}

@media only screen and (min-width: 1024px) {

footer {
  position: relative;
  width: auto;
  height: 80px;
  border-radius: 15px;
}

.switch {
  height: 100%;
  width: 100%;
  font-size: 30px;
  padding: 10px;
  border-radius: 12px;
}

.switch:hover {
  background-color: $secondary-color;
  color: $font-color;
}

}
