footer {
  height: 120px;
  background-color: #FFFFFF;
  font-family: "Righteous", sans-serif;
  font-size: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email-submit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #24243E;
  font-size: 55px;
}

@media only screen and (min-width: 1024px) {

footer {

  position: relative;
  width: auto;
  height: 80px;
  border-radius: 12px;
}

#email-submit {
  font-size: 30px;
}

}
