footer {
  height: 120px;
  background-color: #FFFFFF;
  font-family: "Righteous", sans-serif;
  font-size: 35px;
  padding: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
