$font-color: #FFFFFF;
$body-font: "Acme", sans-serif;

p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-right: 5px;
}

#poll-submit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #24243E;
  font-size: 55px;
}

#new-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-text {
  font-family: $body-font;
  color: $font-color;
  font-size: 30px;
  text-align: center;
}

#email-input {
  width: 90%;
  font-family: $body-font;
  font-size: 30px;
  border-radius: 5px;
}

.poll-question {
  color: $font-color;
  font-family: $body-font;
  font-size: 30px;
}

.choice-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

#show-description {
  font-size: 17px;
  color: $font-color;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

#poll-description, #question-input {
  resize: none;
}
