#poll-submit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #24243E;
  font-size: 55px;
}

#new-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-text {
  font-family: "Acme", sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

#email-submit {
  display: flex;
  justify-content: center;
}

#email-input {
  width: 60%;
  font-size: 30px;
}

.poll-question {
  color: #FFFFFF;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.choice-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#show-description {
  font-size: 17px;
  color: #FFFFFF;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#poll-description, #question-input {
  resize: none;
  width: 92%;
}
