$font-color: #FFFFFF;
$secondary-color: #24243E;
$body-font: "Acme", sans-serif;

main {
  color: $font-color;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

footer a {
  text-decoration: none;
}

.winner {
  font-size: 1.5em;
  padding-bottom: 1em;
}

#chart-container {
  height: 10em;
}

.borda-note {
  padding-top: 1em;
}
.borda-link {
  color: $font-color;
}

.foot-button {
  color: $secondary-color;
}

@media only screen and (min-width:765px) {
  #chart-container {
    width: 40em;
    height: 18em;
  }
}
