$font-color: #FFFFFF;
$body-font: "Acme", sans-serif;

main {
  color: $font-color;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

.container {
  width: 90%;
}

.choices {
  display: flex;
  justify-content: space-evenly;
}

.ranking-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.choice {
  font-size: 1.5em;
  cursor: move;
  padding: 5px 20px;
  margin: 20px 0;
  background-color: $font-color;
  color: #24243E;
  border-radius: 10px;
  box-shadow: 2px 2px 2px $font-color;
}

.choice:hover {
  background-color: #24243E;
  color: $font-color;
}
