$font-color: #FFFFFF;
$secondary-color: #24243E;
$body-font: "Acme", sans-serif;

main {
  color: $font-color;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.container {
  width: 90%;
}

.poll-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poll-header p {
  font-size: 1.25em;
}

.choices {
  display: flex;
  justify-content: center;
}

.ranking-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
  margin: 0 15px;
}

.ranking-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ranking-buttons button {
  margin: 3px 15px;
  background-color: $font-color;
  border-radius: 50%;
  padding: 0px 20px;
}

.ranking-buttons i {
  color: $secondary-color;
  font-size: 0.60em;
}

.drag-instruction, #toggle-buttons {
  display: none;
}

.choice {
  font-size: 1.5em;
  padding: 5px 20px;
  margin: 20px 0;
  background-color: $font-color;
  color: $secondary-color;
  border-radius: 10px;
  box-shadow: 2px 2px 2px $font-color;
}

#voter_name {
  margin-top: 30px;
  margin-left: 10px;
}

@media only screen and (min-width:821px) {
  .choice {
    cursor: move;
  }

  .choice:hover {
    background-color: $secondary-color;
    color: $font-color;
  }

  .ranking-buttons {
    display: none;
  }
  .arrow-instruction {
    display: none;
  }

  .drag-instruction {
    display: block;
    text-align: center;
  }

  #toggle-buttons {
    display: block;
    font-size: 1em;
    width: 15%;
    color: $secondary-color;
    background-color: $font-color;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $font-color;
  }

  #toggle-buttons:hover {
    background-color: $secondary-color;
    color: $font-color;
  }
}

